body {
    font-family: 'Roboto', sans-serif;   
}
.jumbotron {
    background: url("images/bg.png") center/cover;
    width: 100%;
    height: 100vh;  
}
.navigation {
    list-style: none;
    margin-top: 10px;
    margin-right: -150px;
    height: 1px;
    line-height: 15px; 
}
.navigation-res{
    display: none;
    .btn-menu-res{
        background-color: white;
        color:#e06a00;
        border-color: white;
        width: 100px;
    }
}
.logo {
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin-left: -150px; 
}
.logo-style-2 {
    font-weight: 300;
}
.logo-style-1 {
    font-weight: 700; 
}
.nav-style {
    color: white;
}
.contact-btn {
    border: solid 1px white;
    border-radius: 25px;
    line-height: 30px; 
}
.flex-nav-item {
    padding:0 30px;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 15px; 
}
.header-promo {
    color: white;
    p{
        margin-top:20px;
        text-align: center;
        width:500px;
    }   
}
    .header-promo h1 {
      font-size: 35px;
      width: 100%; }
    .header-promo p {
      opacity: 0.4; 
}
.header-buttons{
    padding:20px;
}
.header-btn-1 {
    background-color: white;
    color:#e06a00;
    border-radius: 25px;
    border-color: white;
    width: 180px;
    padding:10px;
}
.header-btn-2 {
    color:white;
    border-radius: 25px;
    border-color: white;
    width: 180px;
    padding:10px;
}
.scroll{
    height: 500px;
}
.icon-section{
    height: 50vh;
    margin-top:10vh;
    text-align: center;
    h3{
        font-size: 30px;
        background: linear-gradient(45deg, #c10029, #e06a00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        font-size: 15px;
    }
    .icon-btn-1 {
        background-color:#4964a9;
        color:white;
        border-radius: 25px;
        width: 180px;
        padding:10px;
        margin-top:5vh;
    }
    .icon-btn-1:hover {
        transform: scale(1.1); }
}
.drone-section{
    height: 60vh;
    text-align: left;
    background-image: url("images/drone-back.png");
    background-repeat: no-repeat;
    background-position: right;
    h1{
        font-size: 50px;
        background: linear-gradient(45deg, #c10029, #e06a00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    p{
        font-size: 20px;
        color:#666;
    }
    ol{
        display: flex;
        height: 40vh;
        list-style: none;
        flex-flow: column wrap;
        align-content: flex-start;
        max-width: 25vw;
        counter-reset: numList;
    }
    ol li {
        float: left;
        position: relative;
        font-size: 16px;
        padding:25px;
        color:#666;
        margin-right: 18px; 
    }
    ol li:before {
        counter-increment: numList;
        content: counter(numList);
        
        float: left;
        position: absolute;
        left: -30px;
        
        font: bold 30px sans-serif;
        text-align: center;
        color: black;
        line-height: 45px;
        
        width: 50px; height: 50px;
        background: white;
        border:2px solid #666;
        border-radius: 50%;
        
        -moz-border-radius: 999px;
        border-radius: 999px
    }
}
.portfollio-section{
    padding-right: 0px; 
    padding-left: 0px;
    .vid-top{
        background-image: url("images/foto-top.png");
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vid-bot{
        background-image: url("images/foto-bottom.png");
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .port-content-top{
        height:65vh;
        text-align: left;
        h2{
            margin-left: 150px;
            margin-top: 150px;
            font-size: 50px;
            background: linear-gradient(45deg, #c10029, #e06a00);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }
        p{
            width:30vw;
            margin-left: 150px;
        }
        .port-btn-1 {
            background-color:#4964a9;
            color:white;
            border-radius: 25px;
            width: 180px;
            padding:10px;
            margin-top:5vh;
            margin-left: 150px;
        }
        .port-btn-1:hover {
            transform: scale(1.1); }
    }
    
    .play-vid:hover {
        transform: scale(1.1); }
}
.newsletter-section{
    background-image: url("images/news-bg.png");
    background-repeat: no-repeat;
    height:50vh;
    text-align: center;
    padding-top: 120px;
    h1{ 
        color: white;
        font-size: 50px;
        padding:30px;
    }
      .email-input {
        width: 250px;
        margin-left: -50px;
        height: 48px;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.3);
        font-size: 20px;
        outline: 0;
        border: 0;
        padding: 5px 55px;
        color: white; }
      
      .send-btn {
        width: 140px;
        height: 48px;
        margin: -44px;
        border-radius: 25px;
        background-image: linear-gradient(135deg, #e06a00 50%, transparent 50%);
        background-position: 100% 0;
        background-size: 300%;
        color: #e06a00;
        font-size: 20px;
        text-align: center;
        outline: 0;
        border: 0;
        transition: 0.4s;
        cursor: pointer; }
      
      .send-btn:hover {
        background-position: 0 100%;
        color: white;
        border: 1px solid white; }
}
.map-section {
    width: 100%;
    
    height: 60vh; }
  
  #map {
    height: 60vh;
    width: 100%; }
.footer-section{
    height: 25vh;
    text-align: center;
    p{
    padding-top:5vh;
    opacity: 0.5;
    color: grey;
    
    }
}
@media (max-width: 768px) {
    .navigation{
        display: none;
    }
    .navigation-res{
        display: block;
        float: right;
    }
    .icon-section{
        height: 80vh;
    }
    .drone-section{
        height: 80vh;
        background-image: none;
        h1{
            font-size: 35px;
        }
        p{
            font-size: 15px;
        }
        ol{
            display: flex;
            list-style: none;
            flex-flow: column wrap;
            max-width: 50vw;
            counter-reset: numList;
        }
        ol li {
            font-size: 12px;
            padding:15px;
            color:#666;
            margin-right: 10px; 
        }
        ol li:before {
            counter-increment: numList;
            content: counter(numList);
            
            float: left;
            position: absolute;
            left: -20px;
            
            font: bold 12px sans-serif;
            text-align: center;
            color: black;
            line-height: 22px;
            
            width: 25px; height: 25px;
            background: white;
            border:2px solid #666;
            border-radius: 50%;
            
            -moz-border-radius: 999px;
            border-radius: 999px
        }
    }
    .portfollio-section{

        .vid-top{
            background-size: 100% 100%; 
        }
        .vid-bot{
            background-size: 100% 100%;
        }
        .port-content-top{
            h2{
                margin-left: 15px;
                margin-top: 30px;
                font-size: 25px; 
            }
            p{
                width:30vw;
                margin-left:15px;
                font-size: 15px;
            }
            .port-btn-1 {
                margin-left:15px;
            }
            .port-btn-1:hover {
                transform: scale(1.1); }
        }
        .play-vid:hover {
            transform: scale(1.1); }
    }
    .newsletter-section{
        height:60vh;
        padding-top: 100px;
    }
    
}