body {
  font-family: 'Roboto', sans-serif; }

.jumbotron {
  background: url("images/bg.png") center/cover;
  width: 100%;
  height: 100vh; }

.navigation {
  list-style: none;
  margin-top: 10px;
  margin-right: -150px;
  height: 1px;
  line-height: 15px; }

.logo {
  font-size: 45px;
  color: white;
  font-weight: bold;
  margin-left: -150px; }

.logo-style-2 {
  font-weight: 300; }

.logo-style-1 {
  font-weight: 700; }

.nav-style {
  color: white; }

.contact-btn {
  border: solid 1px white;
  border-radius: 25px;
  line-height: 30px; }

.flex-nav-item {
  padding: 0 30px;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 15px; }

.header-promo {
  color: white; }
  .header-promo p {
    margin-top: 20px;
    text-align: center;
    width: 500px; }

.header-promo h1 {
  font-size: 35px;
  width: 100%; }

.header-promo p {
  opacity: 0.4; }

.header-buttons {
  padding: 20px; }

.header-btn-1 {
  background-color: white;
  color: #e06a00;
  border-radius: 25px;
  border-color: white;
  width: 180px;
  padding: 10px; }

.header-btn-2 {
  color: white;
  border-radius: 25px;
  border-color: white;
  width: 180px;
  padding: 10px; }

.scroll {
  height: 500px; }

.icon-section {
  height: 50vh;
  margin-top: 10vh;
  text-align: center; }
  .icon-section h3 {
    font-size: 30px;
    background: linear-gradient(45deg, #c10029, #e06a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .icon-section p {
    font-size: 15px; }
  .icon-section .icon-btn-1 {
    background-color: #4964a9;
    color: white;
    border-radius: 25px;
    width: 180px;
    padding: 10px;
    margin-top: 5vh; }
  .icon-section .icon-btn-1:hover {
    transform: scale(1.1); }

.drone-section {
  height: 60vh;
  text-align: left;
  background-image: url("images/drone-back.png");
  background-repeat: no-repeat;
  background-position: right; }
  .drone-section h1 {
    font-size: 50px;
    background: linear-gradient(45deg, #c10029, #e06a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .drone-section p {
    font-size: 20px;
    color: #666; }
  .drone-section ol {
    display: flex;
    height: 40vh;
    list-style: none;
    flex-flow: column wrap;
    align-content: flex-start;
    max-width: 25vw;
    counter-reset: numList; }
  .drone-section ol li {
    float: left;
    position: relative;
    font-size: 16px;
    padding: 25px;
    color: #666;
    margin-right: 18px; }
  .drone-section ol li:before {
    counter-increment: numList;
    content: counter(numList);
    float: left;
    position: absolute;
    left: -30px;
    font: bold 30px sans-serif;
    text-align: center;
    color: black;
    line-height: 45px;
    width: 50px;
    height: 50px;
    background: white;
    border: 2px solid #666;
    border-radius: 50%;
    -moz-border-radius: 999px;
    border-radius: 999px; }

.portfollio-section .vid-top {
  background-image: url("images/foto-top.png");
  background-repeat: no-repeat; }
.portfollio-section .vid-bot {
  background-image: url("images/foto-bottom.png");
  background-repeat: no-repeat; }
.portfollio-section .port-content-top {
  height: 65vh;
  text-align: left; }
  .portfollio-section .port-content-top h2 {
    margin-left: 150px;
    margin-top: 150px;
    font-size: 50px;
    background: linear-gradient(45deg, #c10029, #e06a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .portfollio-section .port-content-top p {
    width: 30vw;
    margin-left: 150px; }
  .portfollio-section .port-content-top .port-btn-1 {
    background-color: #4964a9;
    color: white;
    border-radius: 25px;
    width: 180px;
    padding: 10px;
    margin-top: 5vh;
    margin-left: 150px; }
  .portfollio-section .port-content-top .port-btn-1:hover {
    transform: scale(1.1); }
.portfollio-section .play-vid {
  margin-left: 400px;
  margin-top: 250px; }
.portfollio-section .play-vid:hover {
  transform: scale(1.1); }

/*# sourceMappingURL=style.css.map */
